fastapi
uvicorn[standard]
python-multipart
python-dotenv

langchain
langchain-classic
langchain-community
langchain-core
langchain-groq
langchain-huggingface

pinecone
pypdf
sentence-transformers

pydantic
requests
tqdm
loguru